global
    maxconn {{or (key "service/haproxy/maxconn") 256}}
    debug
    tune.ssl.default-dh-param 2048

defaults
    mode http
    timeout connect {{or (key "service/haproxy/timeouts/connect") "5000ms"}}
    timeout client {{or (key "service/haproxy/timeouts/client") "50000ms"}}
    timeout server {{or (key "service/haproxy/timeouts/server") "50000ms"}}
    option forwardfor
    option http-server-close

frontend ssl
    bind *:443 ssl crt /etc/ssl/private/
    reqadd X-Forwarded-Proto:\ https
    {{ range services }}{{ if and (in .Tags "ssl") (in .Tags "web") }}
    # SERVICE: {{.Name}} (SSL)
    acl host_{{ .Name }} hdr(host) -i {{ .Name }}.{{ or (env "CLUSTER_DOMAIN") "haproxy.service.consul" }}
    use_backend {{ .Name }} if host_{{ .Name }}
    {{ end }}{{ end }}


frontend www
    bind *:80
    reqadd X-Forwarded-Proto:\ http
    acl host_consul hdr(host) -i consul.matthewbrown.io
    use_backend consul if host_consul
    {{ range services }}{{$domain := print .Name "." (or (env "CLUSTER_DOMAIN") "haproxy.service.consul")}}{{ if in .Tags "web" }}
    # SERVICE: {{.Name}}
    acl host_{{ .Name }} hdr(host) -i {{ or (key (print "service/" .Name "/domain")) $domain }}{{ if in .Tags "ssl" }}
    redirect scheme https code 301 if host_{{ .Name }} !{ ssl_fc }{{ end }}
    {{ if not (in .Tags "ssl") }}use_backend {{ .Name }} if host_{{ .Name }}
    {{ end }}{{end}}{{end}}

{{ range services }}{{ if in .Tags "web" }}
backend {{ .Name }}
{{ range service .Name }}
	server {{ .Node }} {{ .Address }}:{{ .Port }}{{ end }}
{{ end }}{{ end }}

backend consul
    server consul consul.service.consul:8500
